.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

.user-box {
    height: fit-content;
    width: 90%;
    padding: 2vh 0;
    margin: 2vh 0;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(12, 250, 178, 0.05);
    /* border: 0.1em solid whitesmoke; */
    border-radius: 25px;
}

.user-image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin: 2vh 0;
    /* box-shadow: 0.5em 0.5em 0.5em black; */
}

.form-group {
    z-index: 1;
    /* margin-left: 12vw; */
    /* margin-top: 3vh; */
}

.form-group label {
    font-size: 20px;
    color: whitesmoke;
}

.form-control {
    margin-top: 1vh;
    width: 75vw;
    border-radius: 10px;
}

.form-group input {
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    width: 75vw;
    border-radius: 10px;
}

.form-horizontal {
    /* margin-top: -10vh; */
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload {
    width: 75vw;
    color: whitesmoke;
}

.filebox {
    /* margin-top: 0.5vh;
    margin-bottom: 2vh;
    width: 75vw;
    border-radius: 10px; */
    font-size: 1.25em;
    margin-top: 0.5vh;
    /* justify-content: space-between; */
    /* height: 2.5em; */
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

.col-12 {
    /* margin-top: 2vh; */
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 20vw; */
}

.col-12 > .form-group {
    padding-left: 0;
}

.btn02 {
    max-width: 30vw;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}