.history-page {
    overflow-x: hidden;
    color: whitesmoke;
}

.header {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.25em solid #0cfab2;
}
h2 {
    margin: 0;
    margin-left: -22.5vw;
}

.row-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.rounded-circle {
    height: 5em;
    width: 5em;
}

article {
    width: 100%;
    border-radius: 10px;
}

.col {
    margin: 0;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
}

.c1,
.c2,
.c3,
.c4,
.c5 {
    padding: 0.5em 0;
}
.c1,
.c3 {
    padding-left: 1em;
    padding-right: 1em; 
    max-width: fit-content;
}
.c3 {
    color: #FF2E93;
}
.c2 {
    color: #0cfab2;
}

.link-section {
    width: 60%;
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: #0cfab2;
}
svg {
    background-color: transparent;
}

.btn,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    outline: none;
    border: none;
    color: black;
    background-color: #0cfab2;
}

.btn-current {
    background-color: transparent;
    color: whitesmoke;
    border: 0.1em solid whitesmoke;
}

.pagelink {
    margin: 1em 0;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}