* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #06002a;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #06002a;
}
.bg.is-active {
    overflow-y: hidden;
}

/* Media Query */

.flex_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_error {
    display: none;
    margin-top: -85vh;
}

.app-name {
    transform: rotate(-90deg);
    width: fit-content;
    height: fit-content;
    margin-right: -5em;
    color: whitesmoke;
}

.app-txt {
    font-size: 5em;
    height: fit-content;
    margin: 0;
}

.mock-img {
    margin: 0 3vw;
    margin-left: -4vw;
}

.mock-txt {
    color: whitesmoke;
    width: 32.5vw;
    text-align: justify;
    margin-right: 6em;
}

.mock-head {
    width: fit-content;
    margin: 0.75em 0;
    padding-bottom: 0.1em;
    border-bottom: 0.1em solid #0cfab2;
}

.mock-btn {
    color: whitesmoke;
    width: fit-content;
    border: 0.1em solid #0cfab2;
    margin: 1em 0;
    padding: 0.5em 1em;
}

/* Media Query */

.shape-main {
    background-image: linear-gradient(0deg, rgb(12,250,178,100%) , rgb(0,25,48,100%));
    height: 10vh;
    width: 100%;
    border-radius: 0 0 25px 25px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.shape-main.is-active {
    height: 100vh;
    z-index: 12;
    border-radius: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.menu-btn,
.col,
.col-6,
.col-3,
.row {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.col-6 {
    margin-bottom: 0;
    height: fit-content;
}

h1 {
    margin: 0;
}

.row {
    margin: 0;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.logo-circle {
    height: 7vw;
    width: 7vw;
    border-radius: 100%;
    background-color: white;
}

.logo-welcome {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.text-main {
    height: fit-content;
    font-size: 8vw;
    background-color: transparent;
} 

.toggle-col {
    margin: 0;
    text-align: left;
}

/* -----TOGGLE_ICON----- */

.menu-btn {
    margin: 0;
    outline: none;
    height: 2em;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
.menu-btn_burger {
    width: 1.5em;
    height: 0.25em;
    background: #fff;
    border-radius: 10em;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: ' ';
    position: absolute;
    width: 1.5em;
    height: 0.25em;
    background: #fff;
    border-radius: 10em;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-0.5em);
}
.menu-btn_burger::after {
    transform: translateY(0.5em);
}
.menu-btn.open .menu-btn_burger {
    width: 0;
    transform: translateX(-1.5em);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
    width: 1.75em;
    transform: rotate(45deg) translate(0.25em, -0.25em);
}
.menu-btn.open .menu-btn_burger::after {
    width: 1.75em;
    transform: rotate(-45deg) translate(0.25em, 0.25em);
}

/* -----TOGGLE_ICON----- */

.container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-1 {
    position: absolute;
    background-color: transparent;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}
.nav-1.is-active {
    z-index: 5;
    transform: translateY(10vh);
    opacity: 1;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.links {
    width: 100vw;
    list-style: none;
    background-color: transparent;
}

.nav-link {
    color: whitesmoke;
    font-size: 8vw;
    padding: 6vh 0 0 0;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
}
.nav-link:hover {
    color: #06002a;
    border-bottom: 2px solid #06002a;
}

@media only screen and (min-width: 600px) {
    .bg * {
        display: none;
    }
    .size_error {
        display: block;
    }
  }