* {
    max-width: 100vw;
    overflow: hidden ;
}

/* body {
    width: 100vw;
} */

.register-page {
    z-index: 0;
    width: 100%;
}

.container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.illus {
    width: 85vw;
    /* background-color: black; */
    margin: -3em 0;
}

img {
    max-width:100%;
    height:auto;
}

.message {
    background-color: transparent;
    color: whitesmoke;
    /* position: absolute; */
    /* margin-top: 12.5vh; */
    /* margin-left: 10vw; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box {
    /* margin-left: -20%; */
    margin-bottom: 1em;
}

.subtext-1,
.subtext-2 {
    /* font-size: 32px; */
    font-weight: lighter;
    width: fit-content;
    border-bottom: 5px solid #0cfab2;
}
.subtext-2 {
    margin-top: 2vh;
}

.form-group {
    z-index: 1;
    /* margin-left: 12vw; */
    /* margin-top: 3vh; */
}

.form-group label {
    /* font-size: 20px; */
    color: whitesmoke;
}

.form-control {
    /* margin-top: 1vh; */
    width: 75vw;
    border-radius: 10px;
}

.form-group input {
    /* margin-top: 0.5vh; */
    margin-bottom: 1em;
    width: 75vw;
    border-radius: 10px;
    /* background-color: #0cfab2; */
}

.form-horizontal {
    /* margin-top: -10vh; */
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-12 {
    /* margin-top: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 20vw; */
}

.col-12 > .form-group {
    padding-left: 0;
}

.btn02 {
    max-width: 30vw;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

/* #txt-mute-1 {
    margin-left: 14vw;
}

#txt-mute-2 {
    margin-left: 4vw;
} */

#line-center {
    color: whitesmoke;
    /* margin-left: 4vw; */
}

.text-muted a {
    color: whitesmoke;
}

.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    margin-top: 2vh;
    width: 100%;
}

.flashes {
    color: red;
    /* font-size: smaller; */
    padding-left: 0;
    margin-bottom: 0;
}