* {
    max-width: 100vw;
}

.register-page {
    z-index: 0;
    width: 100%;
    height: fit-content;
    margin-bottom: -6em;
}

.container,
.col-12,
.form-horizontal,
.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: transparent;
    flex-direction: column;
}

.illus {
    width: 85vw;
    margin-top: 3em;
    margin-bottom: -2em;
    margin-right: 1em;
}

img {
    max-width:100%;
    height:auto;
}

.message {
    background-color: transparent;
    color: whitesmoke;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2em;
}

.message-box {
    margin-bottom: 1em;
}

.subtext-1,
.subtext-2 {
    font-weight: lighter;
    width: fit-content;
    border-bottom: 5px solid #0cfab2;
}
.subtext-2 {
    margin-top: 2vh;
}

.form-group {
    z-index: 1;
}

.form-group label {
    color: whitesmoke;
}

.form-control {
    width: 75vw;
    border-radius: 10px;
}

.form-group input {
    margin-bottom: 1em;
    width: 75vw;
    border-radius: 10px;
}

.form-horizontal {
    margin-bottom: 10%;
    flex-direction: column;
}

.col-12 {
    flex-direction: column;
}

.col-12 > .form-group {
    padding-left: 0;
}

.btn02 {
    max-width: 30vw;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

#line-center {
    color: whitesmoke;
}

.text-muted a {
    color: whitesmoke;
}

.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}

.flashes {
    color: red;
    padding-left: 0;
    margin-bottom: 0;
}