.ride-page {
    z-index: 0;
    width: 100%;
    /* background-color: black; */
}

.message-box {
    margin: 2em;
    /* margin-left: 2.5em; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtext-1,
.subtext-2 {
    font-size: 32px;
    font-weight: lighter;
    width: fit-content;
    border-bottom: 5px solid #0cfab2;
}
.subtext-2 {
    margin-top: 2vh;
}

.form-group {
    z-index: 1;
    margin: 0.5em;
    /* margin-left: 12vw; */
    /* margin-top: 3vh; */
}

.form-group label {
    font-size: 20px;
    color: whitesmoke;
}

.form-control {
    margin-top: 1vh;
    width: 75vw;
    border-radius: 10px;
}

.form-group input {
    margin-top: 0.5vh;
    /* margin-bottom: 2vh; */
    width: 20vw;
    border-radius: 10px;
    color: white;
    /* background-color: transparent; */
    border-color: white;
}

.form-horizontal {
    /* margin-top: -10vh; */
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-box {
    display: flex;
    justify-content: center;
    align-items:center;
}

.select-box {
    width: 25vw;
    overflow: hidden;
}

select {
    appearance: none;
    border: none;
    margin: 0;
    width: 100%;
}

select option {
    overflow-x: hidden;
    width: 25vw;
    font-size: 15px;
    color: black;
    /* background-color: coral; */
}

#duration,
#avg_speed,
#cycle_type {
    width: 100%;
    color: white;
    background-color: transparent;
    border-color: white;
}

#cycle_type {
    width: fit-content;
}

#ride_rating {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
}

#ride_rating > li {
    margin-right: 0;
    width: fit-content;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ride_rating-0,
#ride_rating-1,
#ride_rating-2,
#ride_rating-3,
#ride_rating-4 {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: 2vh;
    margin: 0 1em;
    /* margin-bottom: 0.5em; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-right: 5vw; */
}

/* .btn02 {
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
} */

.col-12 {
    /* margin-top: 1em; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* margin-left: 20vw; */
}

.col-12 > .form-group {
    padding-left: 0;
    /* width: 100%; */
}

.btn02 {
    /* max-width: 40vw; */
    width: 100%;
    border-radius: 25px;
    /* padding: 0.25em 0.5em; */
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

a {
    /* text-decoration: none; */
    outline: none;
    text-emphasis: none;
    margin: 0;
    color: whitesmoke;
}