.account-page {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    z-index: 0;
    color: whitesmoke;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    outline: none;
    text-emphasis: none;
    margin: 0;
    color: whitesmoke;
    background-color: transparent;
    font-size: 3.45vw;
}

.container,
.user-box,
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    flex-direction: column;
}

.user-box {
    height: fit-content;
    width: 100%;
    padding: 3vh 0;
    margin-top: 2vh;
    margin-bottom: 0vh;
    flex-direction: column;
    background-color: rgba(12, 250, 178, 0.05);
    border-radius: 25px;
}

.top-row {
    background-color: transparent;
}

.user-image {
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    margin: 2vh 1vw;
    margin-left: 0;
}

.text-box {
    width: 100%;
}
.row-box {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h5 {
    width: 100%;
    padding-right: 6vw;
    padding-left: 0;
    margin: 1vh 2vw;
    color: #0CFAB2;
}

.user-name {
    width: 100%;
    padding: 0.5vh 3vw;
    margin: 1vh 0;
    margin-left: -1vw;
    margin-top: 0;
    text-align: center;
    background-color: rgba(6, 0, 42, 1);
    border-radius: 10px;
}



.btn02 {
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
    text-decoration: none;
    outline: none;
    border: none;
    margin-left: 6vw;
}

.card-holder {
    height: 20vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.profile-card {
    width: 30vw;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px #0cfab2;
    -webkit-box-shadow: inset 0 0 10px #0cfab2;
    box-shadow:         inset 0 0 10px #0cfab2;
}

.right-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px #0cfab2;
    -webkit-box-shadow: inset 0 0 10px #0cfab2;
    box-shadow:         inset 0 0 10px #0cfab2;
}


.bottom-profile-card,
.area {
    width: 100%;
    display: flex;
}

#buttons-sec {
    padding-top:1em;
    width: 35vw;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
}

.button-card {
    width: 35vw;
    margin-top: 0.75em; 
    padding: 0.5em 2.5em;
    border-radius: 15px;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
    display: flex;
    justify-content: center;
}

h6 {
    color: #0cfab2;
    background-color: transparent;
    width: fit-content;
}