* {
    max-width: 100vw;
    /* overflow: hidden ; */
}

.register-page {
    z-index: 0;
    width: 100%;
    height: fit-content;
    padding-bottom: 1em;
    margin-bottom: -6em;
}

.container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0;
    margin-bottom: 0;
}

.illus {
    width: 62.5vw;
    height: fit-content;
    margin-top: -4em;
}

img {
    max-width:100%;
    height:auto;
}

.message {
    background-color: transparent;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box {
    width: 45%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1em;
    border-right: 0.25em solid white;
}

.subtext-1,
.subtext-2,
.subtext-3 {
    margin-left: -1em;
    text-align: left;
    font-weight: lighter;
    width: fit-content;
    border-bottom: 5px solid #0cfab2;
}

.form-group {
    z-index: 1;
}

.form-group label {
    font-size: 4.5vw;
    color: whitesmoke;
}

.form-control {
    width: 75vw;
    border-radius: 10px;
}

.form-group input {
    font-size: 4vw;
    height: fit-content;
    margin-bottom: 1em;
    width: 75vw;
    border-radius: 10px;
    border: none;
}

::placeholder {
    color: white;
}

input[type=text],
input[type=password] {
    border: 0.1em solid white;
    /* color: white; */
}

input[type=text]:focus,
input[type=password]:focus {
    border-color: #0cfab2;
}

.form-horizontal {
    margin-top: -1em;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-12 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-12 > .form-group {
    padding-left: 0;
}

.btn02 {
    max-width: 30vw;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

#line-center {
    color: whitesmoke;
}

.text-muted a {
    color: whitesmoke;
}

.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}

.flashes {
    color: red;
    padding-left: 0;
    margin-bottom: 0;
}