.pagelink,
.inner-box,
.box,
.holder,
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    margin: 1em 0;
    margin-top: 2em;
}

.header-text {
    width: fit-content;
}

h2 {
    width: 20vw;
    margin: 0;
    color: whitesmoke;
}
p {
    color: whitesmoke;
    margin-right: 2em;
    text-align: left;
}

.middle {
    margin-right: 0;
    margin-left: 2em;
    text-align: right;
}

.holder {
    width: 100%;
    height: 68vh;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.box {
    width: 100%;
    margin: 0.5em 0;
}

.stat-box {
    width: 30vw;
    margin: 0 2em;
}


.btn,
button {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    outline: none;
    border: none;
    color: black;
    /* background-color: #0cfab2; */
    border: 0.1em solid whitesmoke;
}

.btn-current {
    background-color: transparent;
    color: whitesmoke;
    border: 0.1em solid whitesmoke;
}

.pagelink {
    padding-bottom: 1em;
    width: 100%;
    justify-content: space-evenly;
}

a {
    color: #0cfab2;
}