.col,
.nav-item,
.text-stat,
.header,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: fit-content;
    flex-direction: column;
    overflow: hidden;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 1em 0;
    margin-top: 1em;
}
h2 {
    margin: 0;
    margin-left: 2vw;
    color: whitesmoke;
}

.user-box {
    margin: 2em 0;
    background-color: black;
}

.nav-tab {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0.1em solid whitesmoke;
    border-radius: 10px;
}

h6 {
    height: 100%;
    background-color: transparent;
    margin: 0;
}

.tab-pane {
    border: 0;
}

canvas {
    margin-top: 1em;
}

h5 {
    width: 100%;
    margin: 0;
    background-color: transparent;
}
.row {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 9vw;
    padding-right: 0.25em;
    padding-left: 0.15em;
    padding-top: 0.1em;
}
#left-stat {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-right: 0.25em solid whitesmoke;
}
#right-stat {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#bottom-stat {
    margin-top: 0;
    border-top: 0.1em solid whitesmoke;
    border-bottom: 0.1em solid whitesmoke;
}

.text-stat {
    width: 100%;
    color: whitesmoke;
    background-color: black;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    justify-content: space-evenly;
}

.col {
    flex-direction: column;
}

.nav-item {
    text-decoration: none;
    color: whitesmoke;
    background-color: transparent;
    height: 100%;
    padding: 0.5em 1em;
    border-right: 0.1em solid whitesmoke;
}

.active {
    color: #0cfab2; 
}

.nav-item .active,
.nav-item:hover {
    color: #0cfab2;
}