* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #06002a;
}

/* Media Query */

.flex_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_error {
    display: none;
    margin-top: 85vh;
}

.left-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-name {
    transform: rotate(-90deg);
    width: fit-content;
    height: fit-content;
    margin-right: -7.5em;
    color: whitesmoke;
}

.app-txt {
    font-size: 6vw;
    height: fit-content;
    margin: 0;
}

.mock-img {
    margin: 0 3vw;
    margin-left: -4vw;
}

.mock-txt {
    color: whitesmoke;
    width: 32.5vw;
    text-align: justify;
    margin-right: 6em;
}

.mock-head {
    width: fit-content;
    margin: 0.75em 0;
    padding-bottom: 0.1em;
    border-bottom: 0.1em solid #0cfab2;
}

.mock-btn {
    color: whitesmoke;
    background-color: transparent;
    width: fit-content;
    border: 0.1em solid #0cfab2;
    margin: 1em 0;
    padding: 0.5em 1em;
}

/* Media Query */

.shape-main {
    background-image: linear-gradient(0deg, rgb(12,250,178,100%) , rgb(0,25,48,28%));
    height: 55vh;
    width: 100%;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logo-circle {
    margin-top: 4em;
    height: 55vw;
    width: 55vw;
    border-radius: 100%;
    background-color: white;
}

.logo-welcome {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.text-main {
    font-size: 10vw;
}

.container {
    padding: 3em 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtext-1,
.subtext-2 {
    font-size: 6vw;
    width: fit-content;
    border-bottom: 5px solid #0cfab2;
}

.subtext-1 {
    font-size: 7.5vw;
}

.subtext-2 {
    margin-top: 2vh;
}

.row {
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    padding-left: 0;
}

.btn01, 
.btn02 {
    width: 35vw;
    font-size: 5vw;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btn01 {
    color: white;
    background-color: transparent;
    border: 0.1em solid white;
}

.btn02 {
    color: white;
    background: linear-gradient(45deg, rgb(0,58,125,100%), rgb(17,110,220,100%));
}

@media only screen and (min-width: 600px) {
    .bg {
        display: none;
    }
    body {
        height: 75vh;
        width: 100%;
        margin-top: -75vh;
        background-color: #06002a;
    }
    .size_error {
        display: block;
    }
  }