{% extends 'layout-01.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/errors/eRR.css')}}">
{% endblock css %}


{% block content %}
    <div class="content-section">
        <div class="container-fluid">
            <div class="container">
                <div class="err_head">
                    {% block err_head %}
                    {% endblock err_head %}
                </div>
                <div class="err_img">
                    {% block err_img %}
                    {% endblock err_img %}
                </div>
                <div class="err_txt">
                    {% block err_txt %}
                    {% endblock err_txt %}
                </div>
                <div class="back_btn">
                    <a href="{{url_for(back)}}">
                        <button class="btn-lg btn_back">
                            Take me back!
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}