* {
    margin: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

.container,
.menu-btn,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #272727;
    min-height: 100vh;
}

.container {
    width: 100%;
    flex-direction: column;
}

.menu-btn {
    position: relative;
    margin: 0;
    outline: none;
    width: 100%;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
    -webkit-tap-highlight-color: transparent;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: ' ';
    position: absolute;
    width: 35px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    margin-left: 15px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

.text {
    color: red;
    width: 90%;
}


/* Animation */

.text.is-active {
    color: whitesmoke;
}
/* 
.menu-btn.open .text {
    color: whitesmoke;
} */

.menu-btn.open .menu-btn_burger {
    width: 0;
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    width: 50px;
    transform: rotate(45deg) translate(10px, -10px);
}

.menu-btn.open .menu-btn_burger::after {
    width: 50px;
    transform: rotate(-45deg) translate(10px, 10px);
}