{% extends "nav-02.html" %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register02.css') }}">
{% endblock pagecss %}

{% block page %}
    <div class="register-page">
        <div class="container" style="background-color: transparent;">
        <div class="message">
            <div class="message-box">
                <h1 class="subtext-1 text-left font-weight-light text-white">
                    Update
                </h1>
                <h1 class="subtext-2 text-left font-weight-light text-white">
                    Your Profile!
                </h1>
            </div>
            <form class="form-horizontal", role="form", autocomplete="off", method="POST", action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.area.label(class='form-control-label') }}
                    {% if form.area.errors %}
                        {{ form.area(class='form-control form-control-md is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.area.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.area(class='form-control form-control-md', placeholder='Area51') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contactno.label(class='form-control-label') }}
                        
                    {% if form.contactno.errors %}
                    {{ form.contactno(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.contactno.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.contactno(class='form-control form-control-md', placeholder='Enter Valid Number') }}
                    {% endif %}
                </div>
                <div class="row-box">
                    <div class="form-group">
                        {{ form.age.label(class='form-control-label') }}
                            
                            {% if form.age.errors %}
                            {{ form.age(class='form-control form-control-md is-invalid', id='flex-field') }}
                            <div class="invalid-feedback">
                                {% for error in form.age.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.age(class='form-control form-control-md', id='flex-field', placeholder='21') }}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.gender.label(class='form-check-label') }}
                            
                            {% if form.gender.errors %}
                            {{ form.gender(class='form-check-input form-control-md') }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.gender() }}
                            {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.emergencyno.label(class='form-control-label') }}
                        
                    {% if form.emergencyno.errors %}
                    {{ form.emergencyno(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.emergencyno.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.emergencyno(class='form-control form-control-md', placeholder='Enter Valid Number') }}
                    {% endif %}
                </div>
                <div class="col-12" style="margin-top:-1em">    
                    <div class="form-group">
                        {{ form.submit(class='mt-4 btn02 btn-color01 btn-lg') }}
                    </div>
                    <small class="text-muted ml-2", id="txt-mute-1">
                        <a href="{{url_for('profile')}}">Back to Profile Page</a>
                    </small>
                </div>
            </form>
        </div>
                    
    </div>
    </div>
{% endblock page %}