{% extends "layout-01.html" %}

{% block title %}
    CycloFit-SEPM
{% endblock title %}

{% block css %}
    {% block extendedcss %}
    {% endblock extendedcss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout-nav.css') }}">
{% endblock css %}

{% block content %}
    <!-- <div class="page-page"> -->
        <div class="container-fluid" style="padding: 0">
            <div class="bg">
                <div id="shape-main" class="shape-main">
                    <div class="row">
                        <div class="col">
                            <div class="logo-circle">
                                <img class="logo-welcome" src="{{url_for('static', filename='images/350x350_dark.png')}}" alt="" align="middle">
                            </div> 
                        </div> 
                        <div class="col">
                            <h1 class="text-main text-center font-weight-bolder text-white">
                                CYCLOFIT
                            </h1>
                        </div>
                        <div class="col toggle-col">
                            <div class="menu-btn" onclick="navtoggle()">
                                <div class="menu-btn_burger">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block nav1 %}
                    {% endblock nav1 %}
                </div>
                {% block pagecontent %}
                {% endblock pagecontent %}
            </div>
            <div class="size_error">
                <div class="container">
                    <div class="flex_box">
                        <div class="app-name">
                            <h1 class="app-txt">
                                CYCLOFIT
                            </h1>
                        </div>
                        <div class="mock-img">
                            <img src="{{url_for('static', filename='images/mockup.png')}}" alt="" width="300">
                        </div>
                        <div class="mock-txt">
                            <h1 class="mock-head">
                                Sooooo...
                            </h1>
                            <p class="mock-para">
                                The app currently does not work on wide screens, i.e, your laptops and desktops and tablets and... you get it. The responsiveness might be added later in the future but currently, the app works on all mobile devices of all sizes so in order to use the app, you'd have to resize your browswer window. Here's a mockup of the app on phones and this button would take you to the github repository explaining the other stuff. Thanks for visiting :)
                            </p>
                            <a href="https://github.com/piyushmohan01/CycloFit-SEPM" target="_blank">
                            <button class="mock-btn">
                                View Project repository
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="{{ url_for('static', filename='js/layout-nav.js') }}"></script>
{% endblock content %}

<!--  The reason to why this has not made responsive is that it's an app for cyclists to track their rides... idk about you but I think they'd rather have phones in their pockets and stands than the one you're currently viewing this in. -->