{% extends "layout-01.html" %}

{% block title %}
    Register Page
{% endblock title %}

{% block css %}
    {% block extendedcss %}
    {% endblock extendedcss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout-nav.css') }}">
{% endblock css %}

{% block content %}
    <!-- <div class="page-page"> -->
        <div class="container-fluid" style="padding: 0">
            <div class="bg">
                <div id="shape-main" class="shape-main">
                    <div class="row">
                        <div class="col">
                            <div class="logo-circle">
                                <img class="logo-welcome" src="{{url_for('static', filename='images/350x350_dark.png')}}" alt="" align="middle">
                            </div> 
                        </div> 
                        <div class="col">
                            <h1 class="text-main text-center font-weight-bolder text-white">
                                CYCLOFIT
                            </h1>
                        </div>
                        <div class="col toggle-col">
                            <div class="menu-btn" onclick="navtoggle()">
                                <div class="menu-btn_burger">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block nav1 %}
                    {% endblock nav1 %}
                </div>
                {% block pagecontent %}
                {% endblock pagecontent %}
            </div>
        </div>
<script src="{{ url_for('static', filename='js/layout-nav.js') }}"></script>
{% endblock content %}