{% extends "layout-nav.html" %}

{% block extendedcss %}
    {% block pagecss %}
    {% endblock pagecss %}
{% endblock extendedcss %}

{% block nav1 %}
<div class="nav-1">
    <li class="links">
        <a href="{{url_for('home')}}" class="nav-link">
            Home
        </a>
        <a href="{{url_for('login')}}" class="nav-link">
            Profile
        </a>
        <a href="{{url_for('register')}}" class="nav-link">
            About Us
        </a>
        <a href="#" class="nav-link">
            Contact Us
        </a>
        <a href="{{url_for('welcome')}}" class="nav-link">
            Logout
        </a>
    </li>
</div>
{% endblock nav1 %}

{% block pagecontent %}
    {% block page %}
    {% endblock page %}
{% endblock pagecontent %}