{% extends "nav-02.html" %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_ride.css') }}">
{% endblock pagecss %}

{% block page %}
    <div class="container" style="background-color: transparent;">
    <div class="ride-page">
        <div class="message-box">
            <img class='illus' src="{{url_for('static', filename='images/tracker-image.png')}}" alt="">
            <div class="text">
                <h1 class="subtext-1 text-left font-weight-light text-white">
                    Enter
                </h1>
                <h1 class="subtext-2 text-left font-weight-light text-white">
                    TRACK
                </h1>
                <h1 class="subtext-2 text-left font-weight-light text-white">
                    Mode!
                </h1>
            </div>
        </div>
            <form class="form-horizontal", role="form", autocomplete="off", method="POST", action="">
                {{ form.hidden_tag() }}
                <div class="row-box">
                <div class="form-group">
                    {{ form.duration.label(class='form-control-label') }}

                    {% if form.duration.errors %}
                        <div class="select-box">
                            {{ form.duration(class='form-control form-control-md is-invalid') }}
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.duration.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.duration(class='form-control form-control-md') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.avg_speed.label(class='form-control-label') }}
                        
                    {% if form.avg_speed.errors %}
                    {{ form.avg_speed(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.avg_speed.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.avg_speed(class='form-control form-control-md') }}
                    {% endif %}
                </div>                    
                </div>
                <div class="form-group" style="width:100%;display: flex;justify-content: center;align-items: center;">
                    <div class="label-div" style="display: flex;justify-content: center;align-items: center;margin-right: 1em;">
                        {{ form.rider_weight.label(class='form-control-label') }}
                        <h6 style="color: white; margin: 1em 0;">[KG]</h6>
                    </div>
                        
                        {% if form.rider_weight.errors %}
                        {{ form.rider_weight(class='form-control form-control-md is-invalid', style='color:white;margin-left:-2em;') }}
                        <div class="invalid-feedback">
                            {% for error in form.rider_weight.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.rider_weight(type='text',class='form-control form-control-md', style='color:black;margin-left:1em;', placeholder='00') }}
                        {% endif %}
                </div>
                <div class="form-group" style="width:100%;display: flex;justify-content: center;align-items: center;">
                    {{ form.cycle_type.label(class='form-control-label',style='width:fit-content;margin-right:1em;') }}
                        
                    {% if form.cycle_type.errors %}
                    {{ form.cycle_type(class='form-control form-control-md is-invalid',style='width:25%;') }}
                    <div class="invalid-feedback">
                        {% for error in form.cycle_type.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.cycle_type(class='form-control form-control-md', placeholder='Make sure they match!') }}
                    {% endif %}
                </div>
                <div class="form-group" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    {{ form.ride_rating.label(class='form-control-label') }}
                        
                    {% if form.ride_rating.errors %}
                    {{ form.ride_rating(class='form-control form-control-md is-invalid') }}
                    <div class="invalid-feedback" style="display: flex;justify-content: center;align-items: center;">
                        {% for error in form.ride_rating.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div> 
                    {% else %}
                        {{ form.ride_rating(class='form-control form-control-md', placeholder='Make sure they match!') }}
                    {% endif %}
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ form.submit(class='btn02 btn-color01 btn-lg', style='width:fit-content') }}
                    </div>
                    <small class="text-muted ml-2", id="txt-mute-1" style="margin-left: 1em;">
                        <a href="{{url_for('users.home')}}">Back to Home Page</a>
                    </small>
                </div>
            </form>
    </div>      
    </div>
{% endblock page %}