{% extends "nav-02.html" %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock pagecss %}

{% block page %}
    <div class="account-page">
        <div class="container" style="background-color: transparent;">
            <div class="user-box">
                <div class="top-row" style="width: 100%; display: flex; justify-content: space-evenly; align-items: center;">
                    <img class="user-image" src="{{ image_file }}" alt="">
                    <div class="right-top">
                        <div class="user-name" style="font-size: 1.1em;width: fit-content;">{{ current_user.username }}</div>
                        <div class="user-name" style="font-size: 1.1em;">{{ current_user.email }}</div>
                    </div>
                </div>
            </div>
            <div class="user-box">
                <div class="card-holder">
                    <div class="profile-card">
                        <h6>Age :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_age}}</div>
                        <h6>Gender :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_gender}}</div>
                    </div>
                    <div class="profile-card" style="width: 50vw;margin-left: 1em;">
                        <h6>Area :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_area }}</div>
                        <h6>Date Joined :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_datereg }}</div>
                    </div>
                </div>
            </div>
            <div class="user-box">
                <div class="card-holder">
                    <div class="profile-card" style="width: 55vw;margin-right: 1em;">
                        <h6>Contact No :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_contactno }}</div>
                        <h6>Emergency No :</h6>
                        <div class="user-name" style="font-size: 1em;">{{ current_emergencyno }}</div>
                    </div>
                    <div class="profile-card" id="buttons-sec">
                        <!-- <h6 style="border-bottom: 0.25em solid #0cfab2;">UPDATE</h6> -->
                        <div class="button-card" style="margin-top: -0.5em;">
                            <a href="{{url_for('general_update')}}">General</a>
                        </div>
                        <div class="button-card">
                            <a href="{{url_for('personal_update')}}">Personal</a>
                        </div>
                        <div class="button-card">
                            <a href="{{url_for('home')}}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}