{% extends "nav-02.html" %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!-- <script src="https://cdnjs.com/libraries/Chart.js"></script> -->
{% endblock pagecss %}

{% block page %}
    <div class="stats-page">
        <div class="container">
            <div class="header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="45" height="45"><path fill="none" d="M0 0h24v24H0z"/><path d="M2 13h6v8H2v-8zM9 3h6v18H9V3zm7 5h6v13h-6V8z" fill="rgba(12,250,178,1)"/></svg>
                <h2>Ride Statistics</h2>
            </div>
            <nav>
                <div class="nav nav-tab" id="nav-tab" role="tablist">
                    <a class="nav-item active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                        <h6>
                            One
                        </h6>
                    </a>
                    <a class="nav-item" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                        <h6>
                            Two
                        </h6>
                    </a>
                    <a class="nav-item" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                        <h6>
                            Three
                        </h6>
                    </a>
                    <a class="nav-item" href="{{url_for('users.home')}}" style="border: none;">
                     <!-- id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"> -->
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 11.333l10.223-6.815a.5.5 0 0 1 .777.416v14.132a.5.5 0 0 1-.777.416L8 12.667V19a1 1 0 0 1-2 0V5a1 1 0 1 1 2 0v6.333z" fill="rgba(12,250,178,1)"/></svg>   
                     <!-- <h6>
                            Home
                        </h6> -->
                    </a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row text-stat">
                        <div class="col" id='left-stat'>
                            <h1>{{ total_rides-1 }}</h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
                                <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z" fill="rgba(12,250,178,1)"/>
                            </svg>
                        </div>
                        <div class="col" id='right-stat'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z" fill="rgba(12,250,178,1)"/>
                            </svg>
                            <h1>{{ total_duration }}</h1>
                        </div>
                    </div>   
                    <div class="row text-stat" id="bottom-stat">
                        <div class="col" style="width: fit-content; padding-right: 0;">
                            <h2>{{ total_distance }}</h2>
                        </div>
                        <div class="col" style="padding-left: 0; align-items: flex-start;">
                            <h2>Km</h2>
                        </div>
                        <div class="col" style="padding-right: 0;">
                            <h2>{{ total_calories }}</h2>
                        </div>
                        <div class="col" style="padding-left: 0;">
                            <h2>KCal</h2>
                        </div>
                    </div>   
                    <canvas id="bub-line" width="300" height="250">
                    </canvas>
                    <div class="bottom-info"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z" fill="rgba(255,255,255,1)"/></svg>
                        <small>
                            Tap on the labels/charts for more info
                        </small>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">     
                    <canvas id="dur-spd-line" width="300" height="250">
                    </canvas>
                    <canvas id="dis-cal-line" width="300" height="250">
                    </canvas>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <canvas id="type-pie" width="300" height="250">
                    </canvas>
                    <canvas id="ratings-bar" width="300" height="250">
                    </canvas>
                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <canvas id="cal-type-pie" width="300" height="250">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script type="text/javascript">

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'sans-serif';
        Chart.defaults.global.defaultFontColor = 'whitesmoke';
        Chart.defaults.global.defaultFontSize = 16;
        
        // Duration-Speed-Line
        var ctx = document.getElementById("bub-line").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'bar',
            data: {
                labels: {{ ride_ids | safe }},
                datasets: [
                    {
                        label: 'Duration',
                        data: {{ distances | safe }},
                        backgroundColor: '#0cfab2',
                        fill: false,
                        borderColor: "#0cfab2",
                        hoverBorderColor: '#0cfab2',
                        lineTension: 0.1,
                    },
                    {
                        label: 'AvgSpeed',
                        data: {{ avg_speeds | safe }},
                        backgroundColor: "#e0006c",
                        fill: false,
                        borderColor: '#FF2E93',
                        lineTension: 0.1,
                    }
                ],
            },
            options: {
                fill: false,
                responsive: false,
                title: {
                    display: true,
                    text: 'Distance & AvgSpeed',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });
        
        // Duration-Speed-Line
        var ctx = document.getElementById("dur-spd-line").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'bar',
            data: {
                labels: {{ ride_ids | safe }},
                datasets: [
                    {
                        label: 'Duration',
                        data: {{ durations | safe }},
                        backgroundColor: '#0cfab2',
                        fill: false,
                        borderColor: "#0cfab2",
                        hoverBorderColor: '#0cfab2',
                        lineTension: 0.1,
                    },
                    {
                        label: 'AvgSpeed',
                        data: {{ rider_weights | safe }},
                        backgroundColor: "#e0006c",
                        fill: false,
                        borderColor: '#FF2E93',
                        lineTension: 0.1,
                    }
                ],
            },
            options: {
                fill: false,
                responsive: false,
                title: {
                    display: true,
                    text: 'Duration & Weights',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });


        // Distance-Calorie-Line
        var ctx = document.getElementById("dis-cal-line").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'doughnut',
            data: {
                labels: {{ cycle_types | safe }},
                // labels: ['1','2','3','4','5'],
                datasets: [
                    {
                        label: 'aileh',
                        data: {{ cycle_cal_count | safe }},
                        // backgroundColor: '#0cfab2',
                        backgroundColor: [
                        'whitesmoke',
                            '#0cfab2',
                            '#FF2E93',
                            'blue',
                        ],
                        fill: false,
                        borderColor: 'black',
                        hoverBorderColor: '#0cfab2',
                        lineTension: 0.1,
                    },
                    
                    // {
                    //     label: 'Calories',
                    //     data: {{ calories | safe }},
                    //     backgroundColor: "#e0006c",
                    //     fill: false,
                    //     borderColor: '#FF2E93',
                    //     lineTension: 0.1,
                    // }
                ],
            },
            options: {
                fill: false,
                responsive: false,
                title: {
                    display: true,
                    text: 'Types & Calories',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });

        // Cycle-Type-Pie
        var ctx = document.getElementById("type-pie").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'doughnut',
            data: {
                labels: {{ cycle_types | safe }},
                datasets: [
                    {
                        label: 'Distance',
                        // data : ['100', '200', '500', '400'],
                        data: {{ cycle_types_count | safe }},
                        backgroundColor: [
                            'whitesmoke',
                            '#0cfab2',
                            '#FF2E93',
                            'blue',
                        ],
                        fill: false,
                        borderColor: "black",
                        hoverBorderColor: 'black',
                        lineTension: 0.1,
                    },
                ],
            },
            options: {
                fill: false,
                responsive: false,
                title: {
                    display: true,
                    text: 'Cycle-Type Preference',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });

        // Ratings-Bar
        var ctx = document.getElementById("ratings-bar").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'line',
            data: {
                labels: {{ ride_dates | safe }},
                datasets: [
                    {
                        label: 'Distance',
                        // data : ['100', '200', '500', '400'],
                        data: {{ day_dist_count | safe }},
                        backgroundColor: [
                            'whitesmoke',
                            '#0cfab2',
                            '#FF2E93',
                            'blue',
                        ],
                        fill: false,
                        borderColor: "#0cfab2",
                        hoverBorderColor: 'black',
                        lineTension: 0.1,
                    },
                ],
            },
            options: {
                fill: false,
                responsive: false,
                title: {
                    display: true,
                    text: 'Day Preference',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });

        // Cycle-Type-Pie
        var ctx = document.getElementById("cal-type-pie").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:'bar',
            data: {
                labels: {{ cycle_types | safe }},
                datasets: [
                    {
                        label: 'Distance',
                        // data : ['100', '200', '500', '400'],
                        data: {{ cycle_cal_count | safe }},
                        backgroundColor: [
                            'whitesmoke',
                            '#0cfab2',
                            '#FF2E93',
                            'blue',
                        ],
                        fill: false,
                        borderColor: "whitesmoke",
                        hoverBorderColor: 'black',
                        lineTension: 0.1,
                    },
                ],
            },
            options: {
                fill: false,
                responsive: false,
                indexAxis: 'y',
                title: {
                    display: true,
                    text: 'Cycle-Type Preference',
                    fontSize: 18,
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    fontSize: 12,
                },
                tooltips: {
                    enabled: true,
                }
            }
        });
    </script>
{% endblock page %}