{% extends "layout-01.html" %}

{% block title %}
    Welcome Page
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock css %}

{% block content %}
    <div class="welcome-content">
        <div class="size_error">
            <div class="container">
                <div class="flex_box">
                    <div class="left-part">
                        <div class="app-name">
                            <h1 class="app-txt">
                                CYCLOFIT
                            </h1>
                        </div>
                        <div class="mock-img">
                            <img src="{{url_for('static', filename='images/mockup.png')}}" alt="" width="300">
                        </div>
                    </div>
                    <div class="mock-txt">
                        <h1 class="mock-head">
                            Sooooo...
                        </h1>
                        <p class="mock-para">
                            The app currently does not work on wide screens, i.e, your laptops and desktops and tablets and... you get it. The responsiveness might be added later in the future but currently, the app works on all mobile devices of all sizes so in order to use the app, you'd have to resize your browswer window or connect your phone to the same wifi and go to the same address. Here's a mockup of the app on phones and this button would take you to the github repository explaining the other stuff. Thanks for visiting :)
                        </p>
                        <a href="https://github.com/piyushmohan01/CycloFit-SEPM" target="_blank">
                        <button class="mock-btn">
                            View Project repository
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="shape-main">
                <div class="logo-circle">
                    <img class="logo-welcome" src="{{url_for('static', filename='images/500x500_light.png')}}" alt="" align="middle">
                </div> 
                <h1 class="text-main text-center font-weight-bolder text-white">
                    CYCLOFIT
                </h1>
            </div>
        

            <!-- everything-except-circle -->
            <div class="container">

                <h1 class="subtext-1 text-left font-weight-light text-white">
                    Pedaling
                </h1>
                
                <h1 class="subtext-1 text-center font-weight-light text-white">
                    Ahead of Time
                </h1>

                <!-- buttons -->
                <div class="container mt-2">
                <div class="row align-items-center">
                    <div class="col-5">
                        <form action="{{url_for('users.register')}}">
                            <input class="btn01 btn-color01 btn-lg" type="submit" value="Register"/>
                        </form>
                    </div>
                    <div class="col-5">
                        <form action="{{url_for('users.login')}}">
                            <input class="btn02 btn-color01 btn-lg" type="submit" value="Sign In"/>
                        </form>
                    </div>
                </div>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}